{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content">
    <article class="{{post_class}} p3 sm-p4 mb4 mx-auto bg-white box-shadow">

        <header class="post-header center">
            <h1 class="post-title mt0">{{title}}</h1>
            <div class="post-meta mb3 h5 gray light">
              <span class="inline-block px1">
                {{#if author.profile_image}}
                  <img class="circle align-middle border" width="24" src="{{img_url author.profile_image}}" alt="{{author.name}}">
                {{/if}}
                {{author}}
              </span>
              <time class="post-date px1" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}} {{tags prefix=" - "}}</time>
            </div>
        </header>

        <div class="post-content light mb3 sm-mb4">
            {{content}}
        </div>

        <footer class="post-footer">

            {{#if @labs.subscribers}}
            <div class="subscribe light p3 mt3 sm-mt4 bg-yellow-light clearfix">
                <h3 class="h2 mt0">Subscribe to {{@blog.title}}</h3>
                <p class="gray">Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form placeholder="Your email address"}}
            </div>
            {{/if}}

        </footer>

    </article>

</main>

<!-- <aside class="read-next mx-auto clearfix">
    {{#next_post}}
    <div class="sm-col-6 right mb3 sm-mb0 read-next-story right-align">
        <a class="block px4" href="{{url}}">
            <h2 class="h2 mb1">{{title}}</h2>
        </a>
    </div>
    {{/next_post}}
    {{#prev_post}}
    <div class="sm-col-6 left read-next-story prev">
        <a class="block px4" href="{{url}}">
            <h2 class="h2 mb1">{{title}}</h2>
        </a>
    </div>
    {{/prev_post}}
</aside> -->

{{/post}}
